# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Model weights and data
*.pth
*.ckpt
*.pt

# Testing
.pytest_cache

# logs
checkpoints/
*.logs

# gitfiles
.git 

#inference outputs
/modal_inference/
modal_inference.zip
DATA/
src/CreateDataset/DATA/
src/CreateDataset/.env